<div class="container">
  <app-header></app-header>
  <form class="form-signin" (ngSubmit)="create()" #createForm="ngForm">
      <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
      <h2 class="form-signin-heading">Disaster</h2>

      <label class="">Name</label>
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="disaster.name" name="name" required/>
      <br/>
      <label class="">Description</label>
      <input type="text" class="form-control" placeholder="Description" [(ngModel)]="disaster.description" name="description" required/>
      <br/>
      <label class="">Location</label>
      <input type="text" class="form-control" placeholder="Location" [(ngModel)]="disaster.location" name="location" required/>
      <br/>
      <label class="">Rescuer</label>
      <input type="number" class="form-control" placeholder="Rescuer" [(ngModel)]="disaster.rescuers" name="rescuers" required/>
      <br/>
      <label class="">Rescued</label>
      <input type="number" class="form-control" placeholder="Rescued" [(ngModel)]="disaster.rescued" name="rescued" required/>
      <br/>
      <label class="">Deaths</label>
      <input type="number" class="form-control" placeholder="Deaths" [(ngModel)]="disaster.deaths" name="deaths" required/>
      <br/>
      <label class="">Victims</label>
      <input type="number" class="form-control" placeholder="Victims" [(ngModel)]="disaster.victims" name="victims" required/>
      <br/>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!createForm.form.valid">Create</button>
      <p class="text-right">
          <a [routerLink]="['/disasters']">Back</a>
      </p>
  </form>
</div>